.cover__overlay {
  opacity: 0.3;
  background: #2A2C2F;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
  background: #2A2C2F;

}
